<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<servlet>
		<servlet-name>NewAccount</servlet-name>
		<servlet-class>Bank.OpenNewAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewAccount</servlet-name>
		<url-pattern>/src/newaccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>Bank.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/src/loginpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DepositPage</servlet-name>
		<servlet-class>Bank.UserDepositAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepositPage</servlet-name>
		<url-pattern>/src/depositpage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WithdrawPage</servlet-name>
		<servlet-class>Bank.UserWithdrawAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WithdrawPage</servlet-name>
		<url-pattern>/src/withdrawpage</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>WithdrawAmount</servlet-name>
		<servlet-class>Bank.WithdrawAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WithdrawAmount</servlet-name>
		<url-pattern>/src/withdrawamount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransferPage</servlet-name>
		<servlet-class>Bank.UserTransferAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferPage</servlet-name>
		<url-pattern>/src/transferpage</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>TransferAmount</servlet-name>
		<servlet-class>Bank.TransferAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferAmount</servlet-name>
		<url-pattern>/src/transferamount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClosePage</servlet-name>
		<servlet-class>Bank.OpenClosePage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClosePage</servlet-name>
		<url-pattern>/src/close</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>CloseAccount</servlet-name>
		<servlet-class>Bank.CloseAccount</servlet-class>
	</servlet>
   	<servlet-mapping>
		<servlet-name>CloseAccount</servlet-name>
		<url-pattern>/src/closeaccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BalancePage</servlet-name>
		<servlet-class>Bank.UserBalanceAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BalancePage</servlet-name>
		<url-pattern>/src/balanceamount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>Bank.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/src/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Resetpassword</servlet-name>
		<servlet-class>Bank.ResetPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resetpassword</servlet-name>
		<url-pattern>/src/resetpassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Statement</servlet-name>
		<servlet-class>Bank.GenerateStatement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Statement</servlet-name>
		<url-pattern>/src/statement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>Bank.EditProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/src/editprofile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DepositAmount</servlet-name>
		<servlet-class>Bank.DepositAmount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepositAmount</servlet-name>
		<url-pattern>/src/depositamount</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>customerinfo</servlet-name>
		<servlet-class>Bank.UserDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerinfo</servlet-name>
		<url-pattern>/src/userdetails</url-pattern>
	</servlet-mapping>
	</web-app>