/*---------- About Page - body ----------- */

.about-intro,
.about-history {
    max-width: 70em;
    margin-top: 2em;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.about-intro>p,
.about-history>p {
    letter-spacing: 0.01em;
}

section>h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 30px;
}

a:hover {
    color: #000;
}

@media only screen and (max-width:500px) {
    .about-header {
        padding: 3em 0;
    }

    .about-header-heading {
        font-size: 3em;
    }

    .about-intro,
    .about-history {
        font-size: 0.5em;
    }
}