/*---------- Customer Care - body ----------- */

.CC-tiles {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2rem;

    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.CC-tile {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--c-olive-500);
    color: var(--c-gray-900);
    min-height: 200px;
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.25s ease;
}

.CC-tile a {
    text-decoration-line: none;
}

.CC-tile a:hover {
    color: var(--c-gray-900);
}

.CC-tile-header {
    display: flex;
    align-items: center;
}

.CC-tile-header i {
    font-size: 2.5em;
}

.CC-tile-header h3 {
    display: flex;
    flex-direction: column;
    line-height: 1.375;
    margin-left: 0.5rem;
}

.CC-tile-header h3 span:first-child {
    font-weight: 600;
}

.CC-tile-header h3 span:last-child {
    font-size: 0.825em;
    font-weight: 200;
}

.CC-tile-body {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3px;
}

.CC-tile-body-action {
    padding: 20px;
    text-align: center;
}

.CC-tile-body-action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7px;
    margin-left: 25%;
    border: 3px solid var(--c-gray-700);
}

.service-section-footer {
    margin-top: 5%;
    column-count: 3;
    column-gap: 30px;
    column-rule: 1px solid lightblue;
}